@import "../utils/vars";
@import "../utils/mixins";

.nav-main {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: $color-accent-1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__list {
    @include list-flex;
    @include flex-center;
  }

  &__list li {
    @include container-flex-center;

    display: none;
    position: absolute;
    left: 1rem;
    white-space: nowrap;
    font-size: 1.5rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $color-primary-2;
    transition: all ease 1s;
  }

  &__menu-icon {
    width: 35px;
    height: 35px;
    color: $color-txt;
    cursor: pointer;
    z-index: 10000;
  }
}

.nav-main.active {
  .nav-main__list li {
    display: flex;
    transition: all ease 1s;
    &:nth-child(1) {
      transform: translateX(-100px);
    }

    &:nth-child(2) {
      transform: translate(-100px, 100px);
    }

    &:nth-child(3) {
      transform: translateY(100px);
    }
  }
}

@include tablet {
  .nav-main {
    height: inherit;
    width: 100%;
    border-radius: 0;
    background-color: $color-dark-txt;
    padding: 1rem;
    border-radius: $br-10;

    &__list {
      position: relative;
      gap: 5rem;
      left: 0;
    }

    &__list li {
      display: inline-block;
      position: static;
      border-radius: 0;
      background-color: transparent;
    }

    .nav-main__menu-icon {
      display: none;
    }
  }
}
