---
---

<div id="blob">
  <svg
    viewBox="0 0 500 500"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="100%"
    id="blobSvg"
  >
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color: #551ce2;"></stop>
        <stop offset="100%" style="stop-color:   #e8e80f;"></stop>
      </linearGradient>
    </defs>
    <path id="blob" fill="url(#gradient)">
      <animate
        attributeName="d"
        dur="10000ms"
        repeatCount="indefinite"
        values="M411.5,292Q395,334,374,381.5Q353,429,301.5,453Q250,477,208.5,435.5Q167,394,108,380Q49,366,35,308Q21,250,57,204.5Q93,159,110,98.5Q127,38,188.5,27Q250,16,289,65.5Q328,115,361,141Q394,167,411,208.5Q428,250,411.5,292Z; 
        
        M430.5,300.5Q426,351,380.5,374.5Q335,398,292.5,426.5Q250,455,191.5,454Q133,453,119.5,393Q106,333,94.5,291.5Q83,250,83.5,202Q84,154,114.5,111Q145,68,197.5,41Q250,14,304.5,38Q359,62,397.5,102.5Q436,143,435.5,196.5Q435,250,430.5,300.5Z;
        
        M447,292Q395,334,366,367.5Q337,401,293.5,421.5Q250,442,203,427.5Q156,413,102.5,389.5Q49,366,31.5,308Q14,250,50,203Q86,156,106,95Q126,34,188,51Q250,68,292.5,86Q335,104,389.5,121Q444,138,471.5,194Q499,250,447,292Z;

        M427.5,303.5Q435,357,384.5,376Q334,395,292,447Q250,499,197,466Q144,433,99.5,398Q55,363,65,306.5Q75,250,65,193.5Q55,137,109.5,119Q164,101,207,100Q250,99,297,93Q344,87,400.5,108.5Q457,130,438.5,190Q420,250,427.5,303.5Z;

        M411.5,292Q395,334,374,381.5Q353,429,301.5,453Q250,477,208.5,435.5Q167,394,108,380Q49,366,35,308Q21,250,57,204.5Q93,159,110,98.5Q127,38,188.5,27Q250,16,289,65.5Q328,115,361,141Q394,167,411,208.5Q428,250,411.5,292Z;
        "
      >
      </animate>
    </path>
  </svg>
</div>

<style>
  #blob {
    max-width: 600px;
    width: 50%;
    min-width: 300px;
  }
</style>
