---
interface Props {
  tags: Array<string>;
}

const { tags } = Astro.props;
---

<div class="tags">
  {
    tags.map((tag) => (
      <a href={`/categories/${tag}`}>
        <div class="tag">{tag}</div>
      </a>
    ))
  }
</div>

<style>
  .tags {
    max-width: 300px;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    padding: 0.5rem 0.2rem;
    font-size: clamp(1rem, calc(0.96rem + 0.21vw), 1.13rem);
  }

  .tag {
    border: 2px solid #dedede;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
  }
</style>
