@import "../utils/vars";

body {
  background: linear-gradient(
      176deg,
      rgb(60, 48, 98) 0%,
      rgb(130, 23, 159) 100%
    )
    no-repeat left top / cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main-404 {
  flex: 1;
}

.section-txt-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: min(10rem, 10vmin);
  padding-bottom: min(10rem, 10vmin);
  margin: 0 max(1rem, min(4rem, 30%));
  position: relative;
  z-index: 1000;

  h1 {
    font-size: calc($fs-5 * 3);
    font-family: $ff-heading;
    font-weight: $fw-700;
  }

  p {
    font-size: $fs-2;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.blinks_stars .star {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  will-change: opacity;
}

.blinks_stars .star:nth-child(1) {
  top: 90%;
  left: 32%;
  animation: glow-star 2s infinite ease-in-out alternate 1s;
}
.blinks_stars .star:nth-child(2) {
  top: 10%;
  left: 50%;
  animation: glow-star 2s infinite ease-in-out alternate 3s;
}
.blinks_stars .star:nth-child(3) {
  top: 75%;
  left: 55%;
  animation: glow-star 2s infinite ease-in-out alternate 5s;
}
.blinks_stars .star:nth-child(4) {
  top: 50%;
  left: 80%;
  animation: glow-star 2s infinite ease-in-out alternate 7s;
}
.blinks_stars .star:nth-child(5) {
  top: 87%;
  left: 80%;
  animation: glow-star 2s infinite ease-out alternate 9s;
}

.blinks_stars .star:nth-child(6) {
  top: 10%;
  left: 10%;
  animation: glow-star 2s infinite ease-in alternate 5s;
}

@keyframes glow-star {
  40% {
    -webkit-opacity: 0.3;
    opacity: 0.3;
  }
  90%,
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-radius: 999999px;
  }
}

.group-objects {
  position: absolute;
  top: 15%;
  // left: calc(max(1rem, min(50vmin, 10rem)) + 10%);
  left: 30%;
  z-index: 10;
  .earth {
    background: url(/public/img/earth.svg) no-repeat;
    width: max(170px, min(30vw, 200px));
    height: max(170px, min(30vw, 200px));
  }

  .spaceship {
    background: url(/public/img/rocket.svg) no-repeat;
    width: min(70px, max(40vw, 90px));
    height: min(70px, max(40vw, 90px));
  }

  .tired {
    position: absolute;
    left: 45%;
    top: 35%;
    transform-origin: left center;
    display: flex;
    justify-content: flex-end;
    animation: rotate 10s linear infinite backwards;
    transform: rotateZ(0);
    width: min(50vw, 200px);
  }

  .spaceship {
    transform: rotateZ(-65deg);
  }
}

@keyframes rotate {
  to {
    transform: rotateZ(-1turn);
  }
}
