@import "../utils/vars";
@import "../utils/mixins";

body {
  display: flex;
  flex-direction: column;
}

#blob {
  position: absolute;
  z-index: -1;
  left: 40%;
}

#sairussdev {
  text-transform: uppercase;
  color: $color-txt;
  font-size: calc($fs-5 * 1.3);
  text-align: center;
  text-shadow: 1px 1px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 2px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 3px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 4px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 5px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 6px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 8px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 18px 6px rgba(33, 33, 33, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(82, 77, 77, 0.253), 1px 30px 60px rgba(0, 0, 0, 0.549);
}

main {
  flex: 1;
  padding: 5rem max(1rem, min(2vmin, 2.5rem));
}

#pc {
  position: absolute;
  left: 0;
}

.masonry-grid {
  columns: 1 auto;
  column-gap: 1rem;
  padding: 1rem;
  &__item {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    min-width: 100px;
    text-align: center;
    white-space: wrap;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;

    background-color: $color-dark-txt;
    color: $color-accent-1;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  @for $i from 1 through 10 {
    .item#{$i} {
      $h: (random(170) + 80) + px;
      height: $h;
      box-shadow: 1px 1px 10px $color-dark-txt;
    }
  }
}

.wellcome-to {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  height: calc(452px + 7vmin);
  color: $color-dark-txt;
  padding: 0.7rem 1rem;
  position: relative;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.24);
  margin-bottom: max(7rem, 30vmin);

  &__heading {
    width: 100%;
  }
}

@include tablet {
  #sairussdev {
    font-size: calc($fs-5 * 2.3);
    text-align: left;
  }

  #pc {
    left: 23%;
  }

  .masonry-grid {
    columns: 2 auto;
  }
}

@include mobile {
  #blob {
    top: 20%;
    left: 5%;
  }

  #pc {
    transform: scale(0.8);
  }
}
