@import "../utils/vars";
@import "../utils/mixins";

#blob {
  position: absolute;
  top: 10%;
  z-index: -1;
  overflow: hidden;
  left: 40%;
}

#sairussdev {
  text-transform: uppercase;
  color: $color-txt;
  font-size: calc($fs-5 * 1.3);
  text-align: center;
  text-shadow: 1px 1px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 2px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 3px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 4px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 5px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 6px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 8px 1px lighten($color: $color-dark-txt, $amount: 60),
    1px 18px 6px rgba(33, 33, 33, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(82, 77, 77, 0.253), 1px 30px 60px rgba(0, 0, 0, 0.549);
}

main {
  flex: 1;
  padding: 5rem max(1rem, min(2vmin, 2.5rem));
}

#pc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.2);
}

.masonry-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-card {
    display: inline-block;
    width: 100%;
    min-width: 200px;
    max-width: 700px;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: $color-dark-txt;
    color: $color-txt;
    transition: all ease-in 500ms 100ms;

    &__heading {
      background-color: $color-accent-1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 280px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      z-index: 3;
    }

    &__heading img {
      min-width: 200px;
      width: 40%;
      margin: auto;
      padding: 1rem;
      opacity: 0.4;
      transition: opacity ease-in 400ms;
    }

    &__body {
      min-height: calc(100% - 250px);
      font-size: $fs-1;
      font-weight: $fw-500;
      padding-top: 1rem;
      text-align: center;
      padding: 1.2rem 1rem;
      //transform: translateY(-50%);
    }

    .title {
      color: $color-dark-txt;
      font-size: $fs-3;
    }
  }

  &-card.visible img {
    opacity: 1;
  }

  @for $i from 1 through 10 {
    .item#{$i} {
      $h: (random(170) + 100) + px;
      $min-h: 350px;
      min-height: calc($h + $min-h);

      box-shadow: 1px 1px 10px $color-dark-txt;
    }
  }
}

.wellcome-to {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  height: calc(552px + 7vmin);
  color: $color-dark-txt;
  padding: 0.7rem 1rem;
  position: relative;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.24);
  margin-bottom: max(20rem, 30vmin);

  &__heading {
    width: 100%;

    h1 {
      font-size: calc($fs-5 * 1.2);
      color: $color-dark-txt;
      max-width: 500px;

      span {
        color: $color-accent-1;
      }
    }
  }
}

@include tablet {
  #sairussdev {
    font-size: calc($fs-5 * 2.3);
    text-align: left;
  }
}

@include mobile {
  #blob {
    left: 5%;
  }

  #pc {
    left: 50%;
    bottom: -4.5rem;
    transform: translateX(-50%) scale(0.7);
  }

  .wellcome-to {
    &__heading {
      h1 {
        font-size: calc($fs-5);
        white-space: pre-wrap;
        margin: 0;
      }
    }
  }
}
