---
import Layout from "@layouts/Layout.astro";

import "@styles/pages/_about.scss";
---

<Layout title="A propos">
  <main>
    <section class="about-section">
      <h1 class="txt-underline">@SairussDev</h1>

      <p>
        &emsp; Le but de SairussDev est de promouvoir du contenu technique,
        technologie, sciences et essentiellement de développement informatique.
      </p>
    </section>
  </main>
</Layout>
