---
import Layout from "../layouts/Layout.astro";
---

<Layout title="A propos">
  <main>
    <section class="about-section">
      <h1>@SairussDev</h1>
      <h2>A propos:</h2>

      <p>
        Développeur ayant un cursus ingénieur, passionné de sciences et de
        technologies
      </p>
    </section>
  </main>
</Layout>
