---
import Layout from "@layouts/Layout.astro";
import Blob from "@components/astro/Blob.astro";
import PC from "@components/astro/PC.astro";

import { categories } from "config";

import "../styles/pages/_home.scss";

const lettersSairussDev = ["S", "A", "I", "R", "U", "S", "S", "D", "E", "V"];
---

<Layout title="Accueil">
  <main class="container">
    <section class="wellcome-to">
      <div class="wellcome-to__heading">
        <h1>
          Hello le devs je suis <span>Sairuss</span><br />
          bienvenue sur mon blog, <span>Go Rapax</span> 🦅
        </h1>

        <PC id="pc" />
      </div>
      <Blob />
    </section>

    <section class="masonry-grid">
      {
        categories.map((category) => {
          return (
            <a href={`/categories/${category}`}>
              <div class="masonry-grid-card">
                <header class="masonry-grid-card__heading">
                  <img src="/src/assets/img/icons/development.png" alt="" />
                  <h3 class="title">{category}</h3>
                </header>
                <div class="masonry-grid-card__body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem odit ut similique esse aut totam, itaque
                  perferendis earum quae dolore
                </div>
              </div>
            </a>
          );
        })
      }
    </section>
  </main>
</Layout>

<script>
  const masonyItems = document.querySelectorAll(".masonry-grid-card");

  masonyItems.forEach((masonyItem) => {
    const i = Math.floor(Math.random() * 10) + 1;
    masonyItem.classList.add(`item${i}`);
  });
</script>
