/*Colors */

// $color-primary-1: #551ce2;
// $color-primary-2: #563962;
// $color-accent-1: #e8e80f;
// $color-accent-2: #e1831b;
// $color-accent-3: #ff4900;
// $color-txt: #f8f8f9;
// $color-dark-base: #dedede;
// $color-dark-txt: #1f1f1f;

$color-primary-1: #4b1d6e;
$color-primary-2: #201447;
$color-accent-1: #e8e80f;
$color-accent-2: #da6a42;
$color-accent-3: #ff4900;
$color-txt: #f8f8f9;
$color-dark-base: #dedede;
$color-dark-txt: #1f1f1f;

/*Font*/

$ff-heading: Teko, sans-serif;
$ff-body: "Exo 2", sans-serif;

$fs--2: clamp(0.69rem, calc(0.69rem + 0.04vw), 0.72rem);
$fs--1: clamp(0.83rem, calc(0.81rem + 0.11vw), 0.9rem);
$fs-0: clamp(1rem, calc(0.96rem + 0.21vw), 1.13rem);
$fs-1: clamp(1.2rem, calc(1.13rem + 0.34vw), 1.41rem);
$fs-2: clamp(1.44rem, calc(1.33rem + 0.53vw), 1.76rem);
$fs-3: clamp(1.73rem, calc(1.57rem + 0.78vw), 2.2rem);
$fs-4: clamp(2.07rem, calc(1.85rem + 1.12vw), 2.75rem);
$fs-5: clamp(2.49rem, calc(2.17rem + 1.58vw), 3.43rem);

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

/*Dimensions*/

$container-size: 1200px;
$breakpoints: (
  mobile: 425px,
  tablet: 768px,
  latop: 1024px,
);

/*Transitons*/
$transition: 0.25s ease-in-out;
