---
const currentYear = new Date().getFullYear();
---

<footer aria-label="Footer main">
  <p class="text-copyright">&copy;Fait avec ❤️ par Sairuss Dev</p>
</footer>

<style>
  footer {
    text-align: center;
    height: 45px;
    background-color: #563962;
    line-height: 45px;
  }
</style>
