---
const currentYear = new Date().getFullYear();
---

<footer aria-label="Footer main">
  <p class="text-copyright center-by-margin">
    &copy;Fait avec ❤️ par Sairuss Dev
  </p>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    text-align: center;
    height: 135px;
    background-color: #201447;
  }
</style>
