---
import NavMain from "../components/react/NavMain";
import LogoMain from "../components/react/LogoMain";

import "../styles/layouts/_HeaderMain.scss";
import Link from "../components/react/Link";
---

<header class="header-main">
  <div class="header-main__logo">
    <a href="/"><LogoMain /></a>
  </div>

  <div class="header-main__right">
    <NavMain client:load />
  </div>
</header>
