---
import LogoMain from "components/react/LogoMain";
import "styles/layouts/_NavMain.scss";
---

<nav class="nav-main">
    <div id="logo">
        <a href="."><LogoMain /></a>
    </div>
    
    <ul class="list-links-nav" role="list" aria-label="List links navigation">
        <li><a href="/">Accueil</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">A propos de moi</a></li>
    </ul>
</nav>