@import "../utils/vars";
@import "../utils/mixins";

/*-----------------------------------*\ 
    #NOMARLIZE AND RESET
\*-----------------------------------*/

*,
::before,
::after {
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $color-primary-1;
  font-family: $ff-body;
  color: $color-txt;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: $fw-700;
  line-height: 1.2;
  text-transform: capitalize;
  font-family: $ff-heading;
  margin-bottom: 1.625rem;
  width: min-content;
}

h1 {
  font-size: $fs-5;
}

h2 {
  font-size: $fs-4;
}

h3 {
  font-size: $fs-3;
}

h4 {
  font-size: $fs-2;
}

p {
  max-width: 65ch;
  font-family: $ff-body;
  font-size: $fs-1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: $color-accent-1;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  animation-duration: 0.01ms;
  animation-iteration-count: 1;
  transition-duration: 0.01ms;
  scroll-behavior: auto;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: $color-primary-1;
}
::-webkit-scrollbar-thumb {
  background-color: $color-accent-1;
}

/*-----------------------------------*\ 
    #UTILITIES
\*-----------------------------------*/

@for $i from 1 through 10 {
  .z-#{$i} {
    z-index: 1 * $i;
  }
}

.container {
  max-width: $container-size;
  margin: auto;
  overflow-x: hidden;
}

.Link {
  position: relative;
  &:hover::after {
    width: 75%;
  }

  &::after {
    position: absolute;
    content: "";
    border-bottom: dotted 4px $color-accent-1;
    left: 0;
    width: 15%;
    bottom: -4px;
    transition: width ease 0.2s;
  }
}

.txt-underline {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    width: 50%;
    border-bottom: solid 7px $color-accent-1;
  }
}

.center-by-margin {
  margin: auto;
}
